.main-header {
  font-size: 2.5rem;
  font-weight: bold;
}

.question-header, .answer-header {
  font-size: 2rem;
  padding-left: 20px;
}

.question-detail {
  font-size: 1.5rem;
  padding-left: 20px;
}

.question-box, .answer-box {
  margin-left: 50px;
}
