.main-header {
  font-size: 2.5rem;
  font-weight: bold;
}

.question-header, .answer-header {
  font-size: 2rem;
}

.question-detail {
  font-size: 1.5rem;
}

.container {
  margin-left: 150px;
  margin-top: 20px;
}
