.spacer {
  font-size: 1.25rem;
  height: 60px;
  width: 124px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: mistyrose;
}

.sidenav-container {
  font-size: 1.25rem;
  height: 100vh;
  width: 100px;
  position: fixed;
  left: 0;
  text-align: left;
  background-color:mistyrose;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 30px;
}
.sidenav-container > ul > li {
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid white;
  margin-bottom: 0;
  padding: 2px;
}


.sidenav-container a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.35rem;
}
